/*
* {
  outline: 1px dotted rgba(255, 0, 0, 0.2);
}
*/

html, body {
  font-family:  "Inter", sans-serif;
  font-weight: 300;
  font-size: 17px;
}

body {
  margin: 100px 10vw;
}

body > * {
  max-width: 900px;
  margin: 15px 0;
}

.title {
  font-size: 3rem;
}

menu {
  display: flex;
  gap: 0 20px;
  padding: 0;
  margin-bottom: 50px;
}

menu a {
  font-size: 0.8rem;
  font-weight: 400;
  text-decoration: none;
  color: darkgray;
  text-transform: uppercase;
}

menu a:hover {
  color: black
}

.output {
  display: block;
  text-align: center;
  background-color: rgb(233, 233, 233);
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 40px;
  line-height: 1.4em;
  text-align: left;
  color: darkgray;
}

.output span {
  color: black;
}

button {
  background: rgb(233, 233, 233);
	color: inherit;
	border: none;
  border-radius: 10px;
	padding: 7px 10px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:hover {
  background-color: lightgray;
}

button:active {
  transform: scale(0.95);
}

@media (max-width: 640px) {

  html, body {
    font-size: 28px;
  }


}