header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px 0 40px;
  width: 100%;
  max-width: var(--max-width-500);
  background-color: var(--clr-primary-bg);
  color: var(--clr-primary-text);
}

.wordmark { width: 250px }

nav {
  display: flex;
  align-items: center;
}


nav > * {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  cursor: pointer;
}

nav > *:not(:first-child):not(:last-child) {
  margin: 0 0 0 40px;
}


select { /* DISABLED language selector */
  display: none;
}

select { /* language selector desktop */
  border: none;
  background-color: var(--clr-transparent);
  appearance: none;
}

select::-ms-expand {
  display: none;
}

.page-home select,
.page-work select { color: var(--clr-blue-300); }

.page-works select { color: var(--clr-yellow-500); }

nav > a:not(.focus-nav):after {
  display:block;
  content: '';
  border-bottom: solid 3px var(--clr-monochrome-100);
  transform: scaleX(0);
  transition: transform 150ms ease-in-out;
}
nav > a:not(.focus-nav):hover:after {
  transform: scaleX(1);
  transform-origin: 0% 50%; 
}

.page-home nav > a:not(.focus-nav):after,
.page-work nav > a:not(.focus-nav):after { border-bottom: 3px solid var(--clr-monochrome-100) }
.page-works nav > a:not(.focus-nav):after,
.page-contact nav > a:not(.focus-nav):after { border-bottom: 3px solid var(--clr-monochrome-900) }

.page-home .focus-nav,
.page-work .focus-nav { border-bottom: 3px solid var(--clr-monochrome-100) }
.page-works .focus-nav,
.page-contact .focus-nav { border-bottom: 3px solid var(--clr-monochrome-900) }

#dropdown-nav { display: none }
.burger-menu { display: none }


@media only screen and (max-width: 1000px) {
  header { padding: 20px 20px 0 20px }

  .wordmark { width: 220px }

  nav > *:not(:nth-last-child(-n+2)) { display: none }

  .burger-menu {
    display: block;
    cursor: pointer;
    height: 16px;
    margin-left: 5vw;
  }

  nav { padding-bottom: 2px } /* to align with wordmark */

  #dropdown-nav {
    display: flex;
    position: fixed;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr-monochrome-100);
    width: 100%;
    height: 0;
    transition: 0.2s;
    z-index: 4; /* number might be too high */
  }

  #dropdown-nav * {
    text-transform: uppercase;
    color: var(--clr-monochrome-900);
    margin: 0;
    padding: 0;
  }

  #dropdown-nav *:nth-child(2) {
    margin-top: 10vh; /* couldn't give parents padding for some reason. */
    }
    
  #dropdown-nav *:nth-child(4) {
    margin-bottom: 40vh;/* couldn't give parents padding for some reason. */
  }

  #dropdown-nav .closebtn {
    position: absolute;
    bottom: 10vh;
    left: auto;
    right: auto;
    color: var(--clr-monochrome-900);
  }
}