header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 90px 50px 0 50px;
  width: 100%;
  max-width: 1000px;
}

header .wordmark-link {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.header.open .wordmark-link {
  opacity: 0;
  pointer-events: none;
}

header .wordmark {
  width: 182px;
}

header nav {
  display: flex;
  align-items: center;
  font-family: var(--ff-heading);
  font-weight: var(--fw-regular);
  font-size: var(--fs-base);
}

header nav > *:not(:first-child) {   
  margin: 0 0 0 45px;
}

header nav > a {
  transition: color 0.1s ease;
}

header nav > a:hover,
header nav > a.current-page {
  color: var(--clr-accent);
}

@media only screen and (max-width: 600px) {

  header {
    visibility: hidden;
  }
}