:root {
  --clr-black: hsl(0, 0%, 0%);
  --clr-white: hsl(0, 0%, 100%);

  --clr-mono-300: hsl(0, 0%, 30%);
  --clr-mono-500: hsl(0, 0%, 50%);
  --clr-mono-900: hsl(0, 0%, 90%); /* unused */
  --clr-mono-950: hsl(0, 0%, 95%);

  --clr-transparent: hsla(0, 0, 0, 0);

  --ff-primary: "Inter", sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-thin: 100; /* currently unused */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700; /* currently unused */

  --fs-50: 0.6rem; /* currently unused */
  --fs-100: 0.8rem; /* currently unused */
  --fs-150: 0.9rem;
  --fs-200: 1rem;
  --fs-220: 1.2rem;
  --fs-250: 1.4rem;
  --fs-300: 1.8rem;
  --fs-400: 2.3rem;
  --fs-500: 3rem;

  --max-width-50: 900px;
  --max-width-100: 1000px;
  --max-width-200: 1200px;
  --max-width-300: 1400px;

  --border-rad-100: 10px; /* currently unused */
  --border-rad-200: 20px; /* currently unused */
  --border-rad-300: 30px;
}