nav * {
  font-family: var(--ff-heading);
  font-weight: var(--fw-regular);
  font-size: var(--fs-200);
}

.landing-page {
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
}

.landing-page b,
.temporary-message b {
  font-weight: var(--fw-light);
}

@media only screen and (max-width: 1000px) {
  .closebtn {
    font-size: var(--fs-300);
  }
}