#availability {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  top: 20px;
  right: 20px;
  font-size: 12px;
  padding: 9px 15px;
  border-radius: 100px;
  background: var(--clr-mono-950);
}

#availability #status-color {
  width: 8px;
  height: 8px;
  border-radius: 20px;
}

.available #status-color {background-color: var(--clr-green);}
.unavailable #status-color {background-color: var(--clr-red);}

#status-text {
  font-weight: 300;
  color: var(--clr-mono-300);
  letter-spacing: 0.2px;
  user-select: none;
}

@media only screen and (max-width: 600px) {

  #availability {
    display: none;
  }
}