.banner {
  width: 100%;
  max-width: var(--max-width-500);
  padding: 260px 40px 60px 40px;
  background-color: var(--clr-primary-bg);
}

.banner * {
  color: var(--clr-monochrome-900);
}

.page-works  *::selection {
  background-color: var(--clr-yellow-500);
  color: var(--clr-monochrome-100);
}

.page-contact  *::selection {
  background-color: var(--clr-yellow-500);
  color: var(--clr-monochrome-100);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.page-works h1,
.page-contact h1 {
  margin: 0 0 250px 0;
}