.case-studies {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.case-studies .title {
  font-size: 200;
  font-weight: var(--fw-medium);
  text-transform: uppercase;
  letter-spacing: .2rem;
  opacity: 0;
}

.case-studies .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12% 7vw;
  margin: 100px 100px 300px 100px;
}

.case-studies .container > div {
  max-width: 600px;
  opacity: 0;
}

.case-studies img {
  border-radius: var(--border-rad-200);
  position: relative;
  object-fit: cover;
}

.case-studies img,
.case-studies a {
  object-fit: fill;
  width: 100%;
}

.case-studies .partner {
  margin: 5% 0 2% 0;
  font-size: var(--fs-400);
}

.case-studies .description {
  color: var(--clr-mono-300);
  font-size: var(--fs-100);
  text-transform: uppercase;
}

.case-studies .disabled * {
  filter: opacity(0.6) contrast(0.9) grayscale(1);
}

.case-studies .disabled *:hover {
  scale: 1 !important;
}


@media only screen and (max-width: 1000px) {

  .case-studies .container {
    grid-template-columns: repeat(1, 1fr);
    gap: 3% 0;
    margin: 100px 40px 200px 40px;
  }

  .case-studies .title {
    font-size: var(--fs-150);
  }

  .case-studies .partner {
    margin: 2% 0 1% 0;
    font-size: var(--fs-250);
  }

  .case-studies .description {
    font-size: var(--fs-50);
  }

}