.contact-info {
  margin-top: -30px;
}

.contact-icons {
  display: flex;
  gap: 10px;
}

.contact-icons img {
  width: 40px;
}

@media only screen and (max-width: 600px) {
  .contact-info {
    margin-top: 50px;
  }
}