.header .dropdown {
  position: fixed;
  z-index: 11;
  left: 0;
  top: 70px;
  width: 100%;
  height: 0;
  transition: height 0.5s ease;
  background-color: var(--clr-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header.open .dropdown  {
  height: 100%;
}

.mobile-menu:nth-child(1) {
  margin-top: 40px
}

.mobile-menu {
  margin-left: 40px;
  font-size: var(--fs-300);
  font-weight: var(--fw-semi-regular);
  color: var(--clr-mono-200);
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Apply staggered delay using nth-child */
.mobile-menu:nth-child(1) {
  transition-delay: 0.1s;
}

.mobile-menu:nth-child(2) {
  transition-delay: 0.2s;
}

.mobile-menu:nth-child(n + 3) {
  transition-delay: 0.3s;
}

.header.open .dropdown a {
  opacity: 1;
  transform: translateY(0);
}






/*

#dropdown-nav {
  height: 0;
  padding: 0 0 0 20px;
  overflow: hidden;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--clr-mono-970);
  width: 100%;
  transition: height 0.2s ease-in-out;
  z-index: 4;
}

.mobile-menu-closebtn {
  position: absolute;
  top: 22px;
  right: 19px;
  transform: translateX(-50%);
  color: var(--clr-black);
  font-size: var(--fs-300);
  font-weight: 200;
}

.mobile-menu {
  font-size: var(--fs-300);
}

#dropdown-nav * {
  color: var(--clr-black);
  margin: 0;
  padding: 0;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}
  */