.landing-page {
  max-width: var(--max-width-100);
  padding: 210px 50px 160px 50px;
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
}

.landing-page-video {
  max-width: var(--max-width-100);
  width: 80vw;
  height: auto;
  border-radius: var(--border-rad-300);
  background: var(--clr-placeholder);
  pointer-events: none;
}

.landing-page b {
  color: var(--clr-mono-460);
  font-weight: var(--fw-light);
}

.landing-page-title {
  font-weight: var(--fw-medium);
  text-transform: uppercase;
  letter-spacing: .2rem;
  opacity: 0;
}


@media only screen and (max-width: 600px) {

  .landing-page {
    padding: 80px 30px 60px 30px;
    font-size: var(--fs-250);
  }

  .landing-page-video {
    border-radius: var(--border-rad-200);
    width: 85vw;
    object-fit: cover;
  }

  .landing-page-title {
    font-size: var(--fs-150);
    font-weight: var(--fw-medium);
    text-transform: uppercase;
    letter-spacing: .2rem;
    opacity: 0;
  }

}