.landing-page {
  max-width: var(--max-width-100);
  padding: 210px 50px 160px 50px;
}

.fade-in-move {
  opacity: 0;
  transform: translate(20px, 20px);
  animation: fadeInMove 1.5s cubic-bezier(0,.8,1,1) 1.2s 1 normal forwards;
}

@keyframes fadeInMove {
  0% {
    opacity: 0;
    transform: translate(30px, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}



/* The following css shouldn't be in this file
*/

.centered {
  text-align: center;
}

.slideshow-container {
  margin: 0 50px;
  border-radius: var(--border-rad-300);
  overflow: hidden;
  position: relative;
}

.slide {
  max-width: var(--max-width-200);
  width: 95vw;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.show {
  opacity: 1;
}

.temporary-message {
  margin: 160px 0 70px 0;
  padding: 25px 32px;
  border-radius: var(--border-rad-300);
  background-color: var(--clr-mono-950);
}

.landing-page b,
.temporary-message b {
  color: var(--clr-mono-500);
}

.landing-page ::selection,
.landing-page::selection,
.temporary-message ::selection,
.temporary-message::selection {
  color: var(--clr-white);
  background-color: var(--clr-mono-300);
}


@media only screen and (max-width: 600px) {

  .landing-page {
    padding: 80px 30px 60px 30px;
  }

/* The following css shouldn't be in this file
*/

  main img {
    border-radius: var(--border-rad-200);
    height: 400px;
    object-fit: cover;
  }

  .temporary-message {
    margin: 50px 0 30px 0;
    padding: 20px 28px;
    border-radius: var(--border-rad-200);
  }

}