.landing-page {
  max-width: 1000px;
  padding: clamp(110px, calc(40vh - 250px), 250px) 0 0 0;
  font-weight: var(--fw-light);
  display: inline-block;
  /* Force GPU acceleration */
  transform: translateZ(0);
  backface-visibility: hidden;
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  visibility: hidden;
  margin-bottom: -270px;
  font-size: 3rem;
  color: var(--clr-accent);
  text-align: center;
  letter-spacing: -1.5px;
}

.highlight {
  /* color: var(--clr-accent); */
}

.landing-page-video {
 /*max-width: 1000px;*/
  width: 46vw;
  height: auto;
  margin: 160px 0 0 0;
  border-radius: 30px;
  pointer-events: none;
}

.landing-page em {
  color: var(--clr-accent);
  font-weight: var(--fw-light);
}

.landing-page-title {
  margin-top: -50px;
  padding-top: 50px;
  font-weight: var(--fw-regular);
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center;
  opacity: 0;
}


@media only screen and (max-width: 1500px) {
  .landing-page-video {
    width: 85vw;
  }

}

@media only screen and (max-width: 1000px) {
  
  .landing-page.words-en,
  .landing-page.words-nl {
    font-size: 7vw;
  }
}

@media only screen and (max-width: 600px) {

  .landing-page {
    padding-top: 120px;
      margin-bottom: -150px;
  }

  .landing-page-video {
    display: none;
    margin: 60px 0 0 0;
    border-radius: 20px;
    width: calc(100vw - 60px);
    object-fit: cover;
  }

  .landing-page-title {
    font-size: var(--fs-base);
  }

}

/* Targets laptop screens with a short height */
@media only screen and (max-height: 700px) and (min-width: 1100px) {

  .landing-page-video {
    width: 150vh !important;
  }

  .landing-page.words-en {
    font-size: 2.6rem !important;
  }
  
  .landing-page.words-nl {
    font-size: 2.6rem !important;
  }

}

/* Targets touch-enabled devices with small screens */
@media only screen and (max-width: 768px) and (pointer: coarse) {

  .landing-page {
    font-weight: var(--fw-regular);
  }

}