.landing-page {
  max-width: var(--max-width-100);
  margin: 210px 50px 160px 50px;
}

/* The following css shouldn't be in this component
*/

main img {
  max-width: var(--max-width-200);
  border-radius: var(--border-rad-300);
  width: 95vw;
  margin: 0 50px;
}

.temporary-message {
  margin: 160px 0 70px 0;
  padding: 35px 45px;
  border-radius: var(--border-rad-300);
  background-color: var(--clr-mono-950);
}

.landing-page b,
.temporary-message b {
  color: var(--clr-mono-500);
}

.landing-page ::selection,
.landing-page::selection,
.temporary-message ::selection,
.temporary-message::selection {
  color: var(--clr-white);
  background-color: var(--clr-mono-300);
}