.page-works .works *::selection {
  background-color: var(--clr-yellow-500);
}

.works {
  display: flex;
  justify-content: center;
  padding: 50px 40px 200px 40px; /* remove later */
  width: 100%;
  background-color: var(--clr-monochrome-900);
}

.works > div {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  max-width: var(--max-width-500);
}

.works .single-column {
  flex: 1 1 100%
}

.works .double-column {
  flex: 1 1 calc(50% - 40px);
}

.works p {
  margin-bottom: 15px;
}

.works img {
  width: auto;
  height: 100%;
  object-fit: cover;
}