.page-work .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px 30px;
  max-width: var(--max-width-500);
  margin: 200px 40px 300px 40px;
}

.page-work .image {
  position: relative;
  object-fit: cover;
}

.page-work .image img,
.page-work .image .link {
  object-fit: fill;
  width: 100%;
  height: 100%;

}

.page-work .progress-bar {
  position: absolute;
  pointer-events: none;
  z-index: 5;
  bottom: 4px;
  height: 10px;
  width: 100%;
  background-color: var(--clr-monochrome-100);
  transform: scaleX(0);
  transform-origin: left center;
}

.page-work .grid p {
  margin: 10px 0 0 0;
}

.page-work .image .link:hover ~ .progress-bar {
  animation: works-hover-effect 0.8s cubic-bezier(0,1,0,1) 0s 1 normal forwards;
}

@keyframes works-hover-effect {
	0% { transform: scaleX(0) }
	100% { transform: scaleX(1) }
}



@media only screen and (max-width: 1000px) {
  .page-work .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: auto;
    margin: 200px 20px 300px 20px;
  }
}