
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  /*outline: 1px solid rgba(0, 0, 255, 0.22);*/
}

*::-webkit-scrollbar { display: none; }

*::selection {
  color: black;
  background: white;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-------------------------------------------------*/
body {
  font-family: 'Chivo Mono', monospace;
  background: rgb(251,251,251);
  background: linear-gradient(148deg, rgba(251,251,251,1) 2%, rgba(230,211,198,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

a {text-decoration: none;}
/*-------------------------------------------------*/
.overlay-loader{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  top: 0;
  left: 0;
  pointer-events: none;
  animation: overlay-loader 0.5s ease-out 0.5s 1 normal forwards;
}

@keyframes overlay-loader {
  0% {filter: opacity(100%);}
  100% {filter: opacity(0%);}
}

@keyframes overlay-animation {
  0% {transform: rotate(0deg); filter:opacity(0);}
  100% {transform: rotate(360deg); filter:opacity(1);}
}
/*-------------------------------------------------*/
header {
  position: fixed;
  z-index: 3;
  left: 120px;
  top: 70px;
}

header h1 {
  margin: 0 0 9px 0;
  color: white;
  font-family: 'Chivo Mono', monospace;
  font-weight: 200;
  font-size: 25px;
}

.menu-btn {
  position: fixed;
  cursor: pointer;
  z-index: 4;  /* see z-index of menu-content */
}
  
.line {
  display: block;
  width: 25px;
  height: 5px;
  background-color: #ffffff;
  margin: 5px 0 0 4px;
  transition: transform 0.1s ease;
}
  
.menu-btn.active .line:nth-child(1) {
  transform: translateY(0px);
}
  
.menu-btn.active .line:nth-child(2) {
  transform: translateY(182px);
}

.menu-btn:hover:not(.active) .line:nth-child(2) {
  transform: translateY(7px);
}
  
.menu-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s ease, visibility 0s linear 0.1s, transform 0.1s ease;
  position: fixed;
  padding: 25px 0 0 0;
  z-index: 3;
}
  
.menu-content.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.1s ease 0.2s, visibility 0s linear, transform 0.3s ease;
}

.menu-content ul {
  list-style-type: none;
  margin-left: 4px;
}

.menu-content li.contact-info {
  color: white;
  font-size: 12px;
  font-weight: 100;
}

.menu-content a {
  color: white;
  font-size: 19px;
  font-weight: 200;
}

.menu-content a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  cursor: pointer;
}

.menu-content li {
  margin: 0 0 4px 0;
}

.menu-content li:nth-child(2) {
  margin: 0 0 15px 0;
}
/*-------------------------------------------------*/
#paralax {
  z-index: 1;
  position: absolute;
  width: calc(100vw - 60px);
  height: calc(100vh - 60px);
  top: 30px;
  left: 30px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  overflow: hidden;
  clip-path: rect(5px 5px 160px 145px round 20%);
}

#paralax div {
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  background-attachment: fixed;
  background-position: bottom 55px left 120px;
  background-repeat: no-repeat;
  background-size: 200px;
}

#paralax #p-slide-1 {background-image: url("../images/SVG/Paralax/slide-1.svg");}
#paralax #p-slide-2 {background-image: url("../images/SVG/Paralax/slide-2.svg");}
#paralax #p-slide-3 {background-image: url("../images/SVG/Paralax/slide-3.svg");}
#paralax #p-about {background-image: url("../images/SVG/Paralax/about.svg");}
#paralax #p-contact {background-image: url("../images/SVG/Paralax/contact.svg");}
/*-------------------------------------------------*/
main {
  height: 100vw;
}

#bottom-margin {
  width: 100vw;
  height: 10px;
}
/*-------------------------------------------------*/
.chevron {
  position: absolute;
  z-index: 2;
  width: 25px;
  bottom: 70px;
  left: 47%;
  opacity: 0;
  animation: /*pointer-budge 3s ease 1s forwards 2,*/ chevron-opacity 8s ease 3s forwards 1;
}
/*                              <-- Keyframes downwards bobbing
@keyframes pointer-budge {
  0% {transform: translateY(0px);}
  10% {transform: translateY(15px);}
  20% {transform: translateY(0px);}
  100% {transform: translateY(0px);}
}
*/

@keyframes chevron-opacity {
  0% {
    opacity:0;
    pointer-events: none;
  }
  20% {
    opacity:1;
    pointer-events: all;
  }
  80% {
    opacity:1;
    pointer-events: all;
  }
  100% {
    opacity:0;
    pointer-events: none;
  }
}
/*-------------------------------------------------*/
.carousel {
  position: relative;
  overflow: hidden;
}

.carousel-slider {
  display: flex;
  transition: 0.3s;
}

.carousel-slide {
  flex: 1 0 100%;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.carousel-container > * {
  width: calc(100vw - 60px);
  height: calc(100vh - 60px);
  object-fit: cover;
  border-radius: 100px;
}

.carousel button {
  font-size: 22px;
  font-weight: 400;
}

.carousel button:active {
  background-color: white;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  bottom: 60px;
  padding: 10px;
  border: 3px solid white;
  border-radius: 200px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.carousel-prev {
  right: 180px;
}

.carousel-next {
  right: 120px;
}

.carousel-navigation {
  display: none; /* use flex instead of none for use */
  justify-content: center;
  position: absolute;
  bottom: 60px;
  width: 100vw;
  gap: 8px;
  pointer-events: none;
}

.carousel-bullet {
  width: 17px;
  height: 17px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid white;
  background-color: transparent;
  pointer-events: all;
}

.carousel-bullet.is-active {
  background-color: white;
}





@media only screen and (min-width:10px) and (max-width: 640px) {
  header {
    top: 50px;
    left: 70px;
  }

  header h1 {
    margin: 0 0 9px 0;
    font-size: 20px;
  }

  #paralax {
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    top: 10px;
    left: 10px;
  }

  .carousel-container > * {
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    object-fit: cover;
    border-radius: 70px;
  } 

  .carousel-prev,
  .carousel-next {
    position: absolute;
    bottom: 130px;
    padding: 10px;
    border: 3px solid white;
    border-radius: 200px;
    background-color: transparent;
    color: white;
    cursor: pointer;
  }
  
  .carousel-prev {
    left: 40vw;
  }
  
  .carousel-next {
    left: calc(40vw + 50px);
  }

}
