:root {
    --bg-main: #ffcc00;
    --bg-collab: #00375F;
    --accent-blue: #005490;
  }

* {
    outline: 1px dotted rgba(255,0,0,0);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

image,a {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none
}

/*------------------   Main
*/

main *::selection {
    background-color: var(--accent-blue);
    color: white;
}
.collaboration *::selection {
    background-color: var(--bg-main);
}


body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-main);
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 0 0;
    width: 92vw;
}

.wordmark {
    width: 250px;
}

nav {
    display: flex;
    align-items: center;
}

nav > * {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    cursor: pointer;
}

nav > *:not(:first-child):not(:last-child) {
    margin: 0 0 0 40px;
}

select::-ms-expand {
    display: none;
}

select {
    color: var(--accent-blue);
    border: none;
    background-color: rgba(255, 255, 255, 0);
    appearance: none;
}

nav > *:not(:nth-last-child(-n+2)):hover { border-bottom: 3px solid black; }



/*------------------   Top navigation
*/

.burger-menu { display: none; }


/*------------------   Front page
*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: calc(40vh - 200px);
}

h1 { /* hook */
    font-size: 5rem;
    text-align: center;
    line-height:1.1em;
    margin: 0 40px;
}

h1#heading2 { margin-top: 15px; }

#hook {
    font-size: 2.5rem;
    font-weight: 700;
    color: black;
    background-color: var(--bg-main);
    padding: 10px 20px;
    border: 5px solid black;
    border-radius: 20px;
    margin-top: calc(45vh - 150px);
    cursor: pointer;
}


/*------------------   Collaboration footer
*/

.collaboration {
    position: absolute;
    top: calc(100vh - 20px);
    width: 100%;
    height: calc(100vh - 20px); 
    background-color: var(--bg-collab);
}

.collaboration * {
    color: white;
}


h2 {
    position: absolute;
    z-index: 2;
    top: 12vh;
    right: 40px;
    font-size: 12vh;
    font-weight: 500;
    text-align: center;
    writing-mode: vertical-rl;
}

.social-media {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    top: 132px;
    right: 210px;
}

.social-media > a {
    font-size: 1rem;
    font-weight: 200;
    letter-spacing: 0.5px;
    text-decoration: underline;
    text-align: right;
}

.social-media > a:not(:first-child) { margin-top: 10px; }

.collab-sentence {
    position: absolute;
    z-index: 2;
    left: 90px;
    bottom: 50px;
}

h3 {
    font-size: 2.9rem;
    font-weight: 400;
    text-align: right;
}

h4 {
    font-size: 1.8rem;
    font-weight: 300;
    left: 435px;
    top: 80vh;
    margin-top: 20px;
    text-align: right;
    text-decoration: underline;
}

#collab-color-overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--bg-collab);
    opacity: 0.6;
}

#block { 
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 97%;
    overflow: hidden;
  }
  
#block > img {
    position:relative; 
    top: 0;
    left: 0;
    height: 1px;
    width: 1px;
    border-radius: 20px;
    filter: brightness(70%);
}

#block > img::selection {background-color: rgba(255, 255, 255, 0);}

@media only screen and (max-width: 900px) {

    header {
        margin: 20px 0 0 0;
    }

    .wordmark {
        width: 220px;
    }

    nav > *:not(:nth-last-child(-n+2)) {
        display: none;
    }

    .burger-menu {
        display: block;
        cursor: pointer;
        height: 16px;
        margin-left: 5vw;
    }

    nav {padding-bottom: 2px;} /* to align with wordmark */

    #side-nav {
        display: flex;
        position: fixed;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: black;
        width: 100%;
        height: 0;
        transition: 0.2s;
        z-index: 10; /* number might be too high */
    }

    #side-nav * {
        font-size: 2rem;
        text-transform: uppercase;
        color: white;
        margin: 0;
        padding: 0;
      }

    #side-nav *:nth-child(2) {
        margin-top: 10vh; /* couldn't give parents padding for some reason. */
    }
    
    #side-nav *:nth-child(4) {
        margin-bottom: 40vh;/* couldn't give parents padding for some reason. */
    }

    #side-nav .closebtn {
        position: absolute;
        bottom: 10vh;
        left: auto;
        right: auto;
        font-size: 4rem;
        font-weight: 300;
        color: white;
    }


}