.language-widget {
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 30px;
  right: 32px;
  width:fit-content;
  font-size: 12px;
  border-radius: 100px;
  background-color: var(--clr-mono-920);
  padding: 9px 15px;
}

@media only screen and (max-width: 1400px) {


.language-widget {
  right: 40px;
}
}

@media only screen and (max-width: 680px) {
}